@mixin basic-text {
    font-size: 20px;
    letter-spacing: 2px;
}

@mixin button {
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
    text-transform: uppercase;
}

@mixin primary-button {
    @include button;
    background-color: $primary-btn-color;
    color: white;
    font-size: 24px;
    letter-spacing: 0.75px;
    line-height: 1.5;

    &:hover {
        background-color: $primary-btn-hover-color;
        box-shadow: 0px 0px 16px $main-btn-shadow-color;
    }
}
