@mixin basic-text {
    font-size: 18px;
    letter-spacing: 0.75px;
}

@mixin button {
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-weight: 600;
}

@mixin primary-button {
    @include button;
    background-color: $primary-btn-color;
    color: black;
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 1.5;

    &:hover {
        background-color: black;
        border: 1px solid $primary;
        color: $primary;
    }
}

@mixin scroll-bar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $curriculum-card-list-scroll-track-bg;
        border-radius: $curriculum-card-list-scroll-border-radius;
    }

    &::-webkit-scrollbar-thumb {
        background: $curriculum-card-list-scroll-thumb-bg;
        border-radius: $curriculum-card-list-scroll-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@mixin container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@mixin section-connector {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 200px;
    background-color: #84c727;
    z-index: 10;
    bottom: -100px;
}
