$primary: #84c727;
$font-family-base: "Avenir Next Cyr", Roboto, "Segoe UI";
$font-family-title: "Plateia", Roboto, "Segoe UI";
$modal-content-border-radius: 0;

$coach-control-bg: $primary;
$coach-control-hover-bg: #6bb800;

$curriculum-card-btn-hover-bg: #a6e22b;
$curriculum-card-list-scroll-track-bg: #E4E4E4;
$curriculum-card-list-scroll-thumb-bg: #acacac;
$curriculum-card-list-scroll-border-radius: 70px;
$curriculum-card-btn-border-shadow: #a6e22b;

$steps-block-border-color: #57ad00;
$steps-block-border-shadow: $primary;
$steps-block-counter-color: #dcdcdc;
$steps-block-counter-color-hover: #78ab0a;
$steps-block-arrow-color: #96CB60;

$supplement-block-border-shadow: $primary;

$main-subtitle-text-shadow-color: #242A31;

$primary-btn-color: $primary;
$primary-btn-hover-color: #68B400;
$main-btn-shadow-color: #A6E22B;
